
html, body, div, span, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html, body {
  width: 100%;
  height: 100%;
  line-height: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(26, 5, 3);
}
.el_psy_congroo {
  display: flex;
  padding: 15px;
}
.el_psy_congroo:hover {
  cursor: pointer;
}
.img-wrapper {
  width: 1rem;
  padding-top: 3rem;
  position: relative;
  transition: all .5s ease-out;
}
img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s ease-out;
}
